@import '../styles/_shared.scss';

.clients-page--container {
  margin: 0 auto;
  padding-bottom: 100px;
  min-height: 100%;
  background-color: $grey-100;

  .clients-page--header {
    background-color: $grey-100;
    height: 300px;
    h1 {
      color: $grey-800;
      font-size: 48px;
      text-align: center;
      padding-top: 160px;
    }
  }
  .clients-page--content-container {
    max-width: $max-width;
    margin: 0 auto;
    background-color: white;
    box-shadow: $box-shadow;
    padding: 100px;
    h4 {
      font-size: 020px;
      text-align: center;
      font-weight: bolder;
      background-color: $grey-200;
      padding: 20px 10px;
      width: 100%;
    }
    h2 {
      font-size: 28px;
    }
    li {
      color: $grey-800;
      font-size: 24px;
    }
    .clients-page--client-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      align-items: center;
      justify-items: center;
      grid-gap: 50px;
      img {
        width: 100%;
        height: auto;
        max-height: 175px;
        object-fit: contain;
      }
    }
  }
}
