@import '../styles/_shared.scss';

.page {
  min-width: 100%;
  min-height: 100vh;
  margin-top: -110px;
  // padding: 30px;
  // padding: 0px 30px;
  box-sizing: border-box;
  color: $grey-700;
  padding-bottom: 20px;
}
.page--white {
  background-color: white;
}

@media (max-width: 600px) {
  .page {
    padding: 10px;
  }
}
