@import '../styles/_shared.scss';

.services-page--container {
  margin: 0 auto;
  padding-bottom: 100px;
  max-width: 100%;
  height: 100%;
  background-color: $grey-100;

  .services-page--header {
    @include page-header;
  }
  .services-page--content-container {
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    .services-page--side {
      background-color: white;
      box-shadow: $box-shadow;
      padding: 30px;
      .side-option {
        display: grid;
        grid-template-columns: 30px auto;
        justify-items: start;
        align-items: baseline;
        color: $grey-800;
        padding: 15px 0px 10px 0px;
        i {
          font-size: 18px;
        }
      }
      .side-option--active {
        background-color: $theme-color--light;
        width: calc(100% + 60px);
        margin-left: -30px;
        padding-left: 30px;
      }
    }
    .services-page--main {
      background-color: white;
      box-shadow: $box-shadow;
      padding: 30px;
      color: $grey-800;
      img {
        width: 100%;
      }
      @include page-fonts;
    }
  }
  .image-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    img {
      height: 150px;
      width: auto;
      object-fit: cover;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Small device heights */
@media only screen and (max-width: 768px) and (max-height: 1024px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .services-page--container {
    .services-page--content-container {
      grid-template-columns: 1fr;
    }
  }
}
